.footer {
    background: rgb(7, 7, 7);
    color: #fff;
    padding: 3em;
    height: auto;
    max-width: 100%;
    // combine this with body 100vh
    margin-top: auto;
    // or do this combined with html body height:100%
    // min-height: 100%;

    &__content {
        // background: rgba(255, 127, 80, 0.329);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    &__text {
        font-size: 14px;

    }
    &__header {

        h1 {
            font-size: 15px;
            text-transform: capitalize;
        }
    }
    // feel like I may over-nest stuff. Let me code the rest of this out -> time allowed - re code this footer
    &__social {
        // background: chartreuse;
        // display: flex;
        // justify-content: space-evenly;
        margin-bottom: 20px;

    }
    // &__socialIconns {
        
    // }
    li {
        list-style: none;
        vertical-align: top;
        display: inline-block;
        // background: rgba(255, 218, 185, 0.63);
        padding: 0 10px 0 10px;
    }
    &__youtube {
        color: #fff;
    }
    &__twitch {
        color: #fff;
    }
    // &__desc {

    //     p {

    //     }
    // }
    &__logo {
        // background: rgba(255, 0, 0, 0.39);
        height: auto;
        width: 200px;
        margin-bottom: 20px;

        img {
            height: auto;
            max-width: 80px;
            // background: rgba(255, 255, 0, 0.253);
        }
    }
}

// no query seems necessary for the moment
